@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$tablet: 768px;
$mobile-1: 425px;
$mobile-2: 375px;

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile-1 {
  @media (max-width: #{$mobile-1}) {
    @content;
  }
}

@mixin mobile-2 {
  @media (max-width: #{$mobile-2}) {
    @content;
  }
}

body {
  font-family: "League Spartan", sans-serif;

  nav {
    background-color: hsl(180, 29%, 50%);

    .bg-desktop {
      width: 100%;

      @include mobile-1 {
        display: none;
      }
    }

    .bg-mobile {
      display: none;

      @include mobile-1 {
        display: block;
        width: 100%;
      }

      @include mobile-2 {
        width: 105%;
      }
    }
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;

    h1 {
      font-size: 45px;
      margin-bottom: 1.2rem;
      color: hsl(180, 40%, 31%);
    }

    input {
      width: 25rem;
      height: 2rem;
      border: 2px solid hsl(180, 29%, 50%);

      @include mobile-2 {
        width: 22rem;
      }
    }
  }

  .card {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
    width: 79%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 7rem;

    @include tablet {
      width: 86%;
      margin: 1rem 4rem;
    }

    @include mobile-1 {
      flex-direction: column;
      height: 10rem;
      width: 92%;
      margin: 2rem 0.8rem;
    }

    @include mobile-2 {
      width: 98%;
      margin: 2rem 0rem;
    }

    .left {
      display: flex;
      align-items: center;

      @include mobile-1 {
        margin-left: -3rem;
      }

      .img-div {
        img {
          width: 54%;
          margin-left: 2rem;
        }
      }

      .text {
        .top-div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 0.5rem -0.2rem;

          .company-name {
            font-size: 13px;
            color: hsl(180, 29%, 50%);
            margin-right: 0.4rem;
          }

          .tag-1 {
            border-radius: 25px;
            background: hsl(180, 29%, 50%);
            color: white;
            padding: 0.2rem 0.4rem;
            margin: 0 0.2rem;
          }

          .tag-2 {
            border-radius: 25px;
            background: hsl(180, 14%, 20%);
            color: white;
            padding: 0.2rem 0.4rem;
            margin: 0 0.2rem;
          }
        }

        .bottom-div {
          margin: 0.5rem 0;

          span {
            color: hsl(0, 0%, 67%);
            font-size: 13px;
            margin: 0 0.3rem;
          }
        }
      }
    }

    .right {
      display: flex;
      padding: 0 1.5rem;

      @include mobile-1 {
        margin: 2rem 0;
      }

      .style {
        margin: 0 0.4rem;
        padding: 0.5rem 1rem;
        font-size: 13px;
        background-color: hsl(180, 52%, 96%);
        color: hsl(180, 40%, 31%);
        border-radius: 3px;
      }
    }
  }
}
